/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}


/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  /*font-size: 2.09em; */
  font-size: 1.05em;
  /* Base Size */
  /*Setting the base font family*/
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Dosis', sans-serif;
  /*font-size: 5.27em;*/
  font-size: 2.76em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  line-height: 1.15em;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  /*font-size: 5.52em;*/
  font-size: 2.76em;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin: 0;
  line-height: 1.15em;
  letter-spacing: .025em;
}

h3 {
  font-family: 'Dosis', sans-serif;
  /*font-size: 3.93em;*/
  font-size: 1.97em;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding-top: 100px;
}

h4 {
  font-family: 'Dosis', sans-serif;
  /*font-size: 2.5em;*/
  font-size: 1.25em;
  font-weight: 500;
  margin: 0;
  color: white;
  letter-spacing: .03em;

}

p {
  text-align: center;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}*/

img {
  display: block;
}

.long-text {
  min-width: 250px;
  max-width: 620px;
  padding: 30px 20px 0px 20px;
  margin: auto;
}

.title-banner {
  background-color: #FC4700;
  text-align: center;
  min-height: 420px;
  max-height: 1000px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.title-banner-iw {
  background-image: url("../images/OutlineIceCream.svg");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 550px;
  max-height: 700px;
}

.cone-banner {
  background-color: #FE9000;
  padding-top: 60px;
  padding-bottom: 60px;
}

.cone-banner-iw {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-with-the-cone {
  background-image: url("../images/Triangle.svg");
  background-repeat: no-repeat;
  background-position: 10px 30px;
  min-height: 450px;
  max-height: 550px;
  padding: 5% 20% 0 5%;
  border: 1px solid red;
}

.flavor-banner {
  background-color: #69CCB0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.pick-your-flavors {
  background-image: url("../images/Circle.svg");
  background-repeat: no-repeat;
  background-position: auto;
}

.flavor-banner-iw .center{
  min-width: 280px;
  max-width: 365px;
  padding-top: 45px;
}

.scoop-banner {
  background-color: #FE9000;
  padding-top: 60px;
  padding-bottom: 60px;
}

.how-many-scoops {
  background-image: url("../images/3Circles.svg");
  background-repeat: no-repeat;
  background-position: auto;
}

.topping-banner {
  background-color: #B6D6CC;
  padding-top: 60px;
  padding-bottom: 60px;
}

.add-your-toppings {
  background-image: url("../images/Sprinkles.svg");
  background-repeat: no-repeat;
  background-position: auto;
}

.topping-banner-iw .center{
  min-width: 280px;
  max-width: 365px;
  padding-top: 45px;
}

.done-banner {
  background-color: #69CCB0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.done-banner-iw {
  background-image: url("../images/IceCream.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1200px;
  text-align: center;
}

.center {
  margin: 0 auto;
  padding: 25px auto;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
